<base href='/'>
<link rel="stylesheet" type="text/css" href="../public/common.css">
<link rel="stylesheet" type="text/css" href="../public/main.css">
<base href='/'>
<!DOCTYPE html>
<html>

<style>
    #map {

        border: 1px solid black;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 200px;
    }

    .Toggleblock {

        margin: -2px;
        padding-top: 30px;
        padding-left: 30px;
        height: 100%;
        width: 100px;
        display: inline-block;

    }

    .Toggleblock:hover {
        fill: #eee;
        cursor: pointer;
        background: lightgray;
    }

    .eachbox {
        border-bottom: 1px solid lightgray;
        height: 45px;
    }
    .bigeachbox {
        margin-left:-10px;
        margin-right:-10px;
        border-bottom: 1px solid lightgray;
        height: 45px;
        background:#3b8eff;
        color:white;
    }

    .tbox {
        display: inline-block;
        margin-left: 25px;
        margin-top: 13px;


    }

    .etc {
        float: right;
        display: inline-block;
        margin-right: 20px;
        padding-left: 50px;
    }

    .util {
        display: inline-block;
        float: right;
    }

    .hit {
        margin-top: 10px;
    }
    .bignick{
        font:white;
        margin-top:13px;
        margin-right:42px;
        float:right;
    }
</style>

<head>
    <% include ../views/header%>
        <meta charset="UTF-8">
        <title>What We Do</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>간단한 지도 표시하기</title>
        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=axS6xOzdFZLTLeVznqet&submodules=geocoder"></script>
</head>

<body>
    <div class="contain">
        <div id="slide">
            <input type="radio" name="pos" id="pos1" checked>
            <input type="radio" name="pos" id="pos2">
            <input type="radio" name="pos" id="pos3">
            <input type="radio" name="pos" id="pos4">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <p class="pos">
                <label for="pos1"></label>
                <label for="pos2"></label>
                <label for="pos3"></label>
                <label for="pos4"></label>
            </p>
        </div>

        <div class="main">
            <!--안쓰는클래스 지우기-->
            <div id="meducate" class="meducate">
                <div class="hgroup">
                    <h2 class="tit">제보로 바꾼 AROUND</h2>
                    <ul class="tab">
                        <li><a href="/resolveposts/1">모든 게시물 보기</a></li>
                        <li><a href="/resolveposts/1">제보로 바꾼 AROUND란?</a></li>
                    </ul>
                </div>
                <div class="content">
                    <ul class="slick-wrap slick-initialized slick-slider">


                        <%for(var q=0;q<resolve.length&&q<4;q++){
                                                if(resolve[q].images.length>=1){%>

                            <li class="what_we_do">
                                <a href='/post/<%= resolve[q]._id%>/resolveposts' class="sbox">
                                    <div class="imgs video">
                                        <img src="../uploads/<%= resolve[q].images[0].images %>">
                                        <p class="cate">태그</p>
                                    </div>
                                    <div class="info">
                                        <div class="tit">
                                            <%= resolve[q].title%>
                                        </div>
                                        <div class="txt">
                                            <%= resolve[q].content%>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <%}}%>


                    </ul>
                </div>
            </div>

            <div id="meducate" class="meducate">
                <div class="hgroup">
                    <div class="Toggleblock" onclick="ShowNotice()">
                        <h2 class="tit">공지사항</h2>
                    </div>
                    <div class="Toggleblock" onclick="ShowHot()">
                        <h2 class="tit">핫 게시물</h2>
                    </div>
                    <div class="Toggleblock" onclick="ShowFestival()">
                        <h2 class="tit">축제정보</h2>
                    </div>
                    <div class="Toggleblock" onclick="ShowAccident()">
                        <h2 class="tit">사건사고</h2>
                    </div>
                    <ul class="tab">
                        <li class="slick-active">
                            <li><a href="/resolveposts/1">게시판 바로가기</a></li>
                    </ul>
                </div>
                <div class="content">
                    <ul class="slick-wrap slick-initialized slick-slider" id="noticeblock">
                        <div class="bigeachbox">
                            <div class="tbox">
                                제목
                            </div>
                                <div class="bignick">
                                    글쓴이
                                </div>
                        </div>
                        <%for(var i=0;i<notice.length;i++){%>
                            <div class="eachbox">
                                <a href="/post/<%= notice[i]._doc._id%>/notice">
                                    <div class="tbox">
                                        <%= notice[i]._doc.title %>
                                    </div>
                                </a>
                                <div class="etc">
                                    <div class="nick">
                                        <%= notice[i]._doc.writer%>
                                    </div>
                                    <div class="date">
                                        <%var date= notice[i]._doc.created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '').replace(/2018/,'').replace(/-/,'').split('');
                                                    date.splice(date.length-3,3);%>
                                            <%= date.toString().replace(/,/g,'')%>
                                    </div>
                                </div>
                                <div class="util">
                                    <div class="hit">조회수 :
                                        <%= notice[i]._doc.views%> 추천수 :
                                            <%= notice[i]._doc.star %>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </ul>
                    <ul class="slick-wrap slick-initialized slick-slider" id="hotblock">
                        <div class="bigeachbox">
                            <div class="tbox">
                                제목
                            </div>
                                <div class="bignick">
                                    글쓴이
                                </div>
                        </div>
                        <%for(var i=0;i<hotposts.length;i++){%>
                            <div class="eachbox">
                                <a href="/post/<%= hotposts[i]._doc._id%>/hotposts">
                                    <div class="tbox">
                                        <%= hotposts[i]._doc.title %>
                                    </div>
                                </a>
                                <div class="etc">
                                    <div class="nick">
                                        <%= hotposts[i]._doc.writer%>
                                    </div>
                                    <div class="date">
                                        <%var date= hotposts[i]._doc.created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '').replace(/2018/,'').replace(/-/,'').split('');
                                                    date.splice(date.length-3,3);%>
                                            <%= date.toString().replace(/,/g,'')%>
                                    </div>
                                </div>
                                <div class="util">
                                    <div class="hit">조회수 :
                                        <%= hotposts[i]._doc.views%> 추천수 :
                                            <%= hotposts[i]._doc.star %>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </ul>
                    <ul class="slick-wrap slick-initialized slick-slider" id="festivalblock">
                        <div class="bigeachbox">
                            <div class="tbox">
                                제목
                            </div>
                                <div class="bignick">
                                    글쓴이
                                </div>
                        </div>
                        <%for(var i=0;i<festival.length;i++){%>
                            <div class="eachbox">
                                <a href="/post/<%= festival[i]._doc._id%>/festival">
                                    <div class="tbox">
                                        <%= festival[i]._doc.title %>
                                    </div>
                                </a>
                                <div class="etc">
                                    <div class="nick">
                                        <%= festival[i]._doc.writer%>
                                    </div>
                                    <div class="date">
                                        <%var date= festival[i]._doc.created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '').replace(/2018/,'').replace(/-/,'').split('');
                                                    date.splice(date.length-3,3);%>
                                            <%= date.toString().replace(/,/g,'')%>
                                    </div>
                                </div>
                                <div class="util">
                                    <div class="hit">조회수 :
                                        <%= festival[i]._doc.views%> 추천수 :
                                            <%= festival[i]._doc.star %>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </ul>
                    <ul class="slick-wrap slick-initialized slick-slider" id="accidentblock">
                        <div class="bigeachbox">
                            <div class="tbox">
                                제목
                            </div>
                                <div class="bignick">
                                    글쓴이
                                </div>
                        </div>
                        <%for(var i=0;i<accident.length;i++){%>
                            <div class="eachbox">
                                <a href="/post/<%= accident[i]._doc._id%>/accident">
                                    <div class="tbox">
                                        <%= accident[i]._doc.title %>
                                    </div>
                                </a>
                                <div class="etc">
                                    <div class="nick">
                                        <%= accident[i]._doc.writer%>
                                    </div>
                                    <div class="date">
                                        <%var date= accident[i]._doc.created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '').replace(/2018/,'').replace(/-/,'').split('');
                                                    date.splice(date.length-3,3);%>
                                            <%= date.toString().replace(/,/g,'')%>
                                    </div>
                                </div>
                                <div class="util">
                                    <div class="hit">조회수 :
                                        <%= accident[i]._doc.views%> 추천수 :
                                            <%= accident[i]._doc.star %>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 네이버 맵 API 부분 -->
        <div id="map" style="width:1000px;height:400px;"></div>
        <% include ../views/rfooter%>
    </div>
    <script>
        var x = document.getElementsByClassName("Toggleblock");
        x[0].style.background = "lightgray";

        var a = document.getElementById("noticeblock");
        var b = document.getElementById("hotblock");
        var c = document.getElementById("festivalblock");
        var d = document.getElementById("accidentblock");

        a.style.display = "block";
        b.style.display = "none";
        c.style.display = "none";
        d.style.display = "none";

        function ShowNotice() {
            x[0].style.background = "lightgray";
            x[1].style.background = "white";
            x[2].style.background = "white";
            x[3].style.background = "white";

            a.style.display = "block";
            b.style.display = "none";
            c.style.display = "none";
            d.style.display = "none";

        }

        function ShowHot() {
            x[0].style.background = "white";
            x[1].style.background = "lightgray";
            x[2].style.background = "white";
            x[3].style.background = "white";

            a.style.display = "none";
            b.style.display = "block";
            c.style.display = "none";
            d.style.display = "none";

        }

        function ShowFestival() {
            x[0].style.background = "white";
            x[1].style.background = "white";
            x[2].style.background = "lightgray";
            x[3].style.background = "white";

            a.style.display = "none";
            b.style.display = "none";
            c.style.display = "block";
            d.style.display = "none";
        }

        function ShowAccident() {
            x[0].style.background = "white";
            x[1].style.background = "white";
            x[2].style.background = "white";
            x[3].style.background = "lightgray";

            a.style.display = "none";
            b.style.display = "none";
            c.style.display = "none";
            d.style.display = "block";
        }

        function setAction() {
            var ac = document.getElementById("searchstring").value;
            console.log(ac);
            document.getElementById("search").action = "/posts/search/all/" + ac + "/1";
            return true;

        }

        document.getElementById('pos1').checked = true;
        var i = 0;
        setInterval(function() {
            if (i % 4 == 0) {
                i = 0;
            }
            i++;
            document.getElementById('pos' + i).checked = true;
        }, 2000);

        function changeidx(idx) {
            document.getElementById('pos' + idx).checked = true;
            i = idx;
        }

        var position = new naver.maps.LatLng(37.503804, 126.955782);

        var map = new naver.maps.Map('map', {
            center: position,
            zoom: 12, //지도의 초기 줌 레벨
            minZoom: 5, //지도의 최소 줌 레벨
            zoomControl: true, //줌 컨트롤의 표시 여부
            zoomControlOptions: { //줌 컨트롤의 옵션
                position: naver.maps.Position.TOP_RIGHT
            }
        });

        var soso = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.503804, 126.955782),
            map: map
        });

        var acid1 = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.503950, 126.951635),
            map: map
        });

        var acid2 = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.502767, 126.951765),
            map: map
        });

        var acid3 = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.503206, 126.947482),
            map: map
        });

        var SoSoString = [
            '<div class="iw_inner">',
            '   <h3>Society Solution</h3>',
            '   <p>서울특별시 동작구 흑석동 흑석로 84<br />',
            '       02-120 | 공공,사회기관 &gt; 특별,광역시청<br />',
            '   </p>',
            '</div>'
        ].join('');

        var acid1String = [
            '<div class="iw_inner">',
            '   <h3>장영집 에어컨, 천장 대 붕괴.</h3>',
            '   <p>서울특별시 동작구 상도1동 481-1<br />',
            '       010-4366-7558 | 장영집 &gt; 맛집<br />',
            '   </p>',
            '</div>'
        ].join('');

        var acid2String = [
            '<div class="iw_inner">',
            '   <h3>나선웅집 에어컨 물새는 중.</h3>',
            '   <p>서울특별시 동작구 상도1동 441-1<br />',
            '       010-6623-9811 | 나선웅 집 &gt; 맛집<br />',
            '   </p>',
            '</div>'
        ].join('');

        var acid3String = [
            '<div class="iw_inner">',
            '   <h3>장영 휴대폰 액정 붕괴사건.</h3>',
            '   <p>서울특별시 동작구 상도1동 706<br />',
            '       010-4366-7558 | 사철싱싱회 &gt; 특별,광역시청<br />',
            '   </p>',
            '</div>'
        ].join('');

        var sosowindow = new naver.maps.InfoWindow({
            content: SoSoString
        });

        var acid1window = new naver.maps.InfoWindow({
            content: acid1String
        });

        var acid2window = new naver.maps.InfoWindow({
            content: acid2String
        });

        var acid3window = new naver.maps.InfoWindow({
            content: acid3String
        });


        naver.maps.Event.addListener(soso, "click", function(e) {
            if (sosowindow.getMap()) {
                sosowindow.close();
            } else {
                sosowindow.open(map, soso);
            }
        });

        naver.maps.Event.addListener(acid1, "click", function(e) {
            if (acid1window.getMap()) {
                acid1window.close();
            } else {
                acid1window.open(map, acid1);
            }
        });

        naver.maps.Event.addListener(acid2, "click", function(e) {
            if (acid2window.getMap()) {
                acid2window.close();
            } else {
                acid2window.open(map, acid2);
            }
        });

        naver.maps.Event.addListener(acid3, "click", function(e) {
            if (acid3window.getMap()) {
                acid3window.close();
            } else {
                acid3window.open(map, acid3);
            }
        });

    </script>
</body>

</html>
