<link rel="stylesheet" type="text/css" href="../public/common.css">

<link rel="stylesheet" type="text/css" href="../public/main.css">


<base href="/">

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>로그인 하면 들어오게 되는 페이지</title>
</head>
        <style>
         #searchbtn{
             margin-top: 5px;
             margin-bottom: 8px;
            height: 25px;
             width: 40px;
             display:inline-block;
             background: #a6a6a6;
             color:white;
             
        }
        #searchstring
    {
    float: left;
    margin-top: 5px;
    padding-bottom: 5px;
    padding: 5px 25px 5px 5px;
    border: 1px solid #a6a6a6;
    width : 80%;
    border-radius: 2px;
    background: transparent;   
        }
        .hotposts
        {
          width : 95%;
          font-size:10pt;
          height:25px;
          margin-left :3px;
        }
        .hottitle{
            display:inline-block;
            margin:3px;
        }
            .hotgrouptitle{
                display:inline-block;
                margin-top:5px;
                margin-left:10px;
                font: 10pt normal;
                
            }
            .lightloginbox{
                display:inline-block;
                padding:40px;
                
            }
            .loginbox{
                margin-top:10px;
                margin-left:10px;
                line-height: 25px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    /* padding: 20px; */
    width: 70px;
    height: 25px;
    font-size: 8pt;
    font: white;
    border-radius: 10px;
    background: lightgray;
            }
            .middleimg{
                display:inline-block;
            }
            .mo
            {
                border: 1px solid black;
                width:85%;
                display:inline-block;
                position:relative;
            }
    </style>
<body>
  <% include ../views/header%>
    <div class="contain">
        <div class="mo">
  <div class="lightloginbox">
      <% if(islogin==0){%>
          이웃을 위해 <br>
        로그인 해주세요<br>
            <a href='/login'><div class="loginbox">로그인</div></a>
        <%}else{%>
            <%= info%>님 안녕하세요<br>
           <a href='/profile'>회원정보</a>
        <%}%>
      </div>
    <div id="main_menu_bar"><img class="middleimg" src="../public/main_index.png" width=70% height=150px></div>
        </div>
            <span id="right_box">
        <p class="hotgrouptitle">인기 게시물</p>
        <% for(var i=0;i<hotposts.length;i++){%>
        <div class="hotposts">
            <a href="/post/<%= hotposts[i]._id%>" class="hottitle"><%= i+1%>. <%= hotposts[i]._doc.title%></a></div>
        <%}%><div class="hotposts">
        <a href='/hotposts/1'><h5>더보기</h5></a></div>
    </span>
  <div id="grid" class="big">
    <div id="left_box">신고 통계<img src="../public/main_left.png" width=100% ></div>
    <div>
      <div id="main_post_photo">
          <%
          console.log("리졸브 출력");
          console.log(resolve);
          for(var q=0;q<resolve.length;q++){
              if(resolve[q].images.length>=1){%>
          <a href='/post/<%= resolve[q]._id%>' ><img src="../uploads/<%= resolve[q].images[0].images %>" width=50px height=50px></a>
          <%}}%>
      </div>
      <div id="post_list">게시글 올라오는 곳</div>
    </div>
      <form method="get" action="/" id="search" onsubmit ="return setAction();">
            <input type="text" id="searchstring" placeholder="전체 게시판 검색">
        <input type="submit" id="searchbtn" value="검색" />
     </form>
  </div>
        </div>
        <script>
        function setAction()
            {
                var ac = document.getElementById("searchstring").value;
                console.log(ac);
                document.getElementById("search").action = "/posts/search/all/"+ac+"/1";
                return true;
                
            }
        </script>
    <% include ../views/rfooter%>
        
</body>

</html>