<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>로그인 테스트</title>
</head>

<body>
    <h1>안녕하세요</h1>
    <h1>안녕</h1>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">게시판</div>
        <li role="presentation"><a href='/main'>Home</a></li>
        <ul class="list-group">
            <% for(var i = 0 ;i <results.length ; i++)
            {
                var curTitle = results[i]._doc.title;
                var curContent = results[i]._doc.content;%>
                <li class="list-group-item"><a href="/post/<%= results[i]._doc._id%>">제목 : <%= curTitle%></a>
                    조회수 : <%=results[i]._doc.views%> 추천수 :<%=results[i]._doc.star%>     <%=results[i]._doc.created_at.toISOString().replace(/T/, ' ').      // replace T with a space
  replace(/\..+/, '')  %>
                    작성자 : <%= results[i]._doc.writer%>
                </li>
                <%}%>
        </ul>
        <nav>
            <ul class="pagination">
                <li>
                    <a href="/posts/1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
                </li>
                <li>
                    <% var Previous;
        if((num-1)<1)
         {Previous = 1;}else{Previous = num-1;} %>
                        <a href='/posts/<%= Previous %>' aria-label="Previous">
        <span aria-hidden="true">&lang;</span>
      </a>
                </li>
                <% var temppivot = {};
      temppivot = Math.floor((num-1)/5);
      var pivot = (temppivot)*5+1;
      var btnNum = PostNum/10;
      var de = num%5+1;
      var c = [{},{},{},{},{}];
      for(var i=0; i<5;i++)
          {
              if((i+2)==de)
              {c[i]="active";
              }else
               { c[i]="";
          }
          } 
      for(var q=0; q<5; q++){%>
                    <%if(Math.ceil(PostNum/10)>=pivot+q){%>
                        <li class="<%= c[q] %>">
                            <a href="/posts/<%= pivot+q%>">
                                <%= pivot+q %>
                            </a>
                        </li>
                        <%}%>
                            <%}%>
                                <li>
                                    <% var Next;
         if((num+1)<=Math.ceil(PostNum/10)){
              Next = num+1;}else{Next = Math.ceil(PostNum/10);}%>
                                        <a href="/posts/<%= Next %>" aria-label="Next">
        <span aria-hidden="true">&rang;</span>
      </a>
                                </li>
                                <li>
                                    <a href="/posts/<%= Math.ceil(PostNum/10) %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
                                </li>
            </ul>
        </nav>
        <h3><a href='/post/create'>글 쓰기</a></h3>
    </div>
</body>

</html>
