<base href='/'>
<link rel="stylesheet" type="text/css" href="../public/common.css">

<link rel="stylesheet" type="text/css" href="../public/post.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>글</title>
</head>
<script>

    function modal_del() {
        var modal = document.getElementById("Delmodal");
        modal.style.display = "block";

    }

    function modal_edit() {
        var modal = document.getElementById("Updatemodal");
        modal.style.display = "block";
    }

    function modal_commupdate(str) {
        var modal = document.getElementById("CommUpdatemodal");
        modal.style.display = "block";
        document.getElementById("commtoupdate").value=str;
        console.log(str);
    }

    function modal_img() {
        var modal = document.getElementById("imgviewmodal");
        modal.style.display = "block";

    }

    function modal_close() {
        var mm = document.getElementsByClassName('modal');
        i = mm.length;
        while (i--) {
            mm[i].style.display = "none";
        }
        var targetdiv = document.getElementById("imgmodal_content");
        targetdiv.innerHTML = ("");
    }

    function doImgPop(img) {
        img1 = new Image();
        img1.src = (img);
        imgControll(img);
    }

    function imgControll(img) {
        if ((img1.width != 0) && (img1.height != 0)) {
            viewImage(img);
        } else {
            controller = "imgControll('" + img + "')";
            intervalID = setTimeout(controller, 20);
        }
    }

    function viewImage(img) {
        modal_img();
        var targetdiv = document.getElementById("imgmodal_content");

        targetdiv.innerHTML += ("<div class='leftarrow'>" + "<img src='../public/arrow_left.png' width='50px' height='50px'>" + "</div>");
        targetdiv.innerHTML += ("<img src=" + img + " onclick='modal_close()' style='cursor:pointer;' title ='클릭하시면 창이 닫힙니다.'>");
        targetdiv.innerHTML += ("<div class='rightarrow'>" + "<img src='../public/arrow_right.png' width='50px' height='50px'>" + "</div>");
    }

</script>

<body>
    <% include ../views/header%>
        <div class="contain">
            <div class="main">
                <% include ../views/leftside%>
                    <div id="contents">
                        <div class="conwrap">
                            <% var curTitle = results._doc.title;
       var curContent = results._doc.content;
    %>
                                <div class="conhead">
                                    <h3 class="loc_title">자유게시판</h3>
                                    <div class="location">
                                        홈>자유게시판
                                    </div>
                                </div>
                                <div class="conbody">
                                    <div class="tit">
                                        <h4>
                                            <%= curTitle%>
                                        </h4>
                                        <h5>
                                            <%= results._doc.writer%> | <%var date= results._doc.created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '').replace(/2018/,'').replace(/-/,'').split('');
                                                    date.splice(date.length-3,3);%><%= date.toString().replace(/,/g,'')%> | 조회:<%= results._doc.views%> | 추천:<%=results._doc.star%>
                                        </h5>
                                    </div>
                                    <div class="cont">
                                        <%= curContent%>
                                    </div>
                                </div>

                                <br>
                                <% var images=results._doc.images;
    for(var i=0;i<images.length;i++)
    {%>
                                    <img src="../uploads/<%= results._doc.images[i].images%>" width="100" onclick="doImgPop('../uploads/<%= results._doc.images[i].images%>')">
                                    <%}
    %>
                                        <div class="post_btngroup">
                                            <div class="common_view">

                                                <form method="post" action="/post/recommend/<%= Upper%>" id="recomform">
                                                    <td><input type="hidden" name="postid" value="<%= results._doc._id%>" /></td>
                                                    <input type="submit" value="추천" />
                                                </form>
                                                <button type="submit" onclick="recommfunc()" class="btnpost" form="recomform"><span class="material-icons">thumb_up</span>
                                                </button>
                                                <% if(Upper=="areaposts"){%>
                                                <a href="/areaposts/1/0"><%}else{%>
                                                <a href="/<%= Upper%>/1"><%}%><button type="button" class="btnpost"><span class="material-icons">list</span></button>
                                                    </a>
                                                <%
                                                if(req.session.user)
                                                if(req.session.user.nickname == results._doc.writer){ %>
                                            </div>
                                            <div class="writer_view">

                                                <button onclick="modal_edit()" type="button" class="btnpost" id="UpdateBtn" data-toggle="modal" data-target="#Updatemodal"><span class="material-icons">build</span></button>
                                                <button onclick="modal_del()" type="button" class="btnpost" id="Delbtn" data-toggle="modal" data-target="#Delmodal"><span class="material-icons">delete</span>
                                                </button>
                                            </div>
                                            <%}%>
                                        </div>



                        </div>
                        <div class="conwrap">

                            <div class="h4group">
                                <h4 class="tit">
                                    의견을 나눠보세요
                                </h4>
                            </div>
                            <div class="com_write">
                                <form method="post" action="/post/comment/create/<%= results._doc._id%>/<%= Upper%>">
                                    <input autocomplete="off" name="content" class="cmt_contents" placeholder="댓글을 입력해 주세요. 500자 이내로 작성 가능합니다." maxlength="500">
                                    <input class="cmtbtn" type="submit" value="작성" />
                                </form>
                            </div>
                            <div class="com_read">
                                <% var Comments = results._doc.comments;
                            for( var i=0; i<Comments.length;i++)
                            {%>
                                    <div class="com_area">
                                        <div class="com_info"><span id="writer_name">
                                        <%= Comments[i].writer %></span>
                                            <span id="writer_toggle">                                        
                                                <%
                                                if(req.session.user)
                                                if(Comments[i].writer == req.session.user.nickname){%>
                                            <button type="button" onclick="modal_commupdate('<%= Comments[i]._id%>')" class="btnpost" id="UpdateBtn" data-toggle="modal" data-target="#CommUpdatemodal"><span class="material-icons">build</span></button>
                                                
                                                <form method="post" id="postdestroyform<%= i%>" action="/post/comment/destroy/<%= results._doc._id%>/<%= Upper%>">
                                        <input type="hidden" id="commentid" name="commentid" value="<%= Comments[i]._id%>" />
                                                </form>
                                            <button type="button" onclick="commdelfunc(<%= i%>)" class="btnpost" id="UpdateBtn"><span class="material-icons">delete</span></button>
                                            </span>
                                            <%}%>

                                        </div>
                                        <div class="com_cont">
                                            <%= Comments[i].content %>
                                            <%var commentdate= Comments[i].created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '').replace(/2018/,'').replace(/-/,'').split('');
                                                    date.splice(date.length-3,3);%><%= commentdate.toString().replace(/,/g,'')%>
                                        </div>
                                    </div>
                                    <%}%>
                            </div>
                        </div>

                    </div>

            </div>

            <div class="modal" id="imgviewmodal">
                <div class="modal_img_body">

                    <div id="imgmodal_content">

                    </div>

                </div>
            </div>


            <div class="modal" id="CommUpdatemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" onclick="modal_close()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                        </div>
                        <div class="modal-body">
                            수정할 내용을 입력하세요
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="/post/comment/update/<%= results._doc._id%>/<%= Upper%>">
                                        <td><input type="text" id="paramcontent" name="paramcontent" /></td>
                                        <td><input type="hidden" id="commtoupdate" name="commentid" value="" /></td>
                                        <input type="submit" value="삭제" />
                                    </form>
                            <button type="button" onclick="modal_close()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal" id="Delmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" onclick="modal_close()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                        </div>
                        <div class="modal-body">
                            게시글을 삭제 하시겠습니까?
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="/post/destroy">
                                <td><input type="hidden" name="postid" value="<%= results._doc._id%>" /></td>
                                <input type="submit" value="삭제">
                            </form>
                            <button type="button" onclick="modal_close()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="Updatemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" onclick="modal_close()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                        </div>
                        <div class="modal-body">
                            게시글을 수정 하시겠습니까?
                        </div>
                        <div class="modal-footer">
                            <% if(type=="area"){%>
                                <form method="post" action="/areapost/update">
                                    <%}
               else{%>
                                        <form method="post" action="/post/update">
                                            <%}%>
                                                <td><input type="hidden" name="postid" value="<%= results._doc._id%>" /></td>
                                                <input type="submit" value="수정" />
                                        </form>
                                        <button type="button" onclick="modal_close()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
                <script>
                    var recommended=-1;
                    <%
                    console.log(results._doc.recommender.length);
                    if(islogin==1)
                    for(var k=0;k<results._doc.recommender.length;k++)
                        {
                            if(results._doc.recommender[k].recommender==req.session.user.nickname)
                                {%>
                                recommended=1;
                                <%    break;
                                }
                        }%>
                    
                   function recommfunc() {
                       var str;
                       if(recommended==-1)
                           str="이 글에 공감 하십니까?";
                       else str="공감을 취소 하시겠습니까?"
                if (confirm(str)) {
                    document.getElementById("recomform").submit();
                } 
                }
                    function commdelfunc(idx)
                    {
                        var todel="postdestroyform"+idx;
                        if(confirm("댓글을 삭제 하시겠습니까?"))
                        {document.getElementById(todel).submit();
                        }
                    }
                </script>
        </div>
        <% include ../views/rfooter%>
</body>

</html>
