<base href="/">
<link rel="stylesheet" type="text/css" href="../public/common.css">

<link rel="stylesheet" type="text/css" href="../public/posts.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<base href='/'>
<!DOCTYPE html>
<html>

<head>
    <% include ../views/header%>
        <meta charset="UTF-8">
        <title>로그인 테스트</title>
        <style>
            #h4group2 .h4group {
                overflow: hidden;
                margin: -30px -30px 0;
                padding: 40px 30px 12px;
                border-bottom: 1px solid #0000;
            }

            #rank_board2 .rank_board .lbox {
                width: 100%;
                position: relative;
                border-top: 3px solid gray;
                border-bottom: 3px solid #f1f1f2;
            }
            .rank_board .lbox {
    width: 100%;
    float: left;
    position: relative;
    border-top: 3px solid gray;
    border-bottom: 3px solid #f1f1f2;
}
            .lbox {
                width: 100%;
                position: relative;
                border-top: 3px solid gray;
                border-bottom: 3px solid #f1f1f2;
            }

            .rank_board dl dd ol li .subtitle {
                display: inline-block;
                overflow: hidden;
                max-width: 100%;
                font-size: 13px;
                line-height: 39px;
                color: #666666;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;
                float: right;
            }
        </style>
</head>

<body>
    <div class="contain">
        <div class="main">
            <% if(specific=="all")
                {%>
            <% include ../views/leftside%>
            <%}else {%>
            <% include ../views/hotleftside%>
            <%}%>
                <div id="contents">
                    <% if(specific=="all"){%>
                        <div class="time_hot">
                            <div class="conhead">
                                <h3 class="loc_title">자유게시판</h3>
                                <div class="location">
                                    <strong class="this"> 자유게시판</strong>
                                </div>
                            </div>
                            <div class="h4group">
                                <h4 class="tit">이번 주 자유게시판 베스트 글!</h4>
                                <div class="period">2018.07.27~2018.08.02</div>
                            </div>
                            <div class="rank_board">
                                <div class="lbox">
                                    <dl>
                                        <dt>이번 주 추천이 가장 많은 게시글 </dt>
                                        <dd>
                                            <ol>
                                                <% for(var k=0;k<hot.length;k++){%>
                                                            <%var date= hot[k]._doc.created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '').replace(/2018/,'').replace(/-/,'').split('');
                                                    date.splice(date.length-3,3);%>
                                                                
                                                            <li>
                                                                <div class="rank"><%= k+1%></div>
                                                                <a href="/post/<%= hot[k]._id%>/posts" class="tit">
                          <%= hot[k].title%></a> <a href="/post/<%= hot[k]._id%>/posts" class="subtitle">
                        <%= date.toString().replace(/,/g,'')%></a>
                                                                <div class="recom"><%= hot[k].star%></div>
                                                            </li>
                                                            <%}%>
                                                <% for(var q=hot.length;q<5;q++){%>
                                                <li>
                                                                <div class="rank"><%= k+1%></div>
                                                                <a href="/hotposts/1" class="tit">
                            핫 게시물의 주인공이 되어보세요!</a> <a href="/hotposts/1" class="subtitle">
                        0000.00.00</a>
                                                                <div class="recom">0</div>
                                                            </li>
                                                <%}%>
                                            </ol>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <%}%>
                            <% if(specific=="hotposts"){%>
                                <div class="time_hot">
                                    <div class="conhead">
                                        <h3 class="loc_title">핫게시판</h3>
                                        <div class="location">
                                            <strong class="this"> 핫게시판</strong>
                                        </div>
                                    </div>
                                    <div id="rank_board2">
                                        <div id="h4group2">
                                            <div class="h4group">

                                                <h4 class="tit">AROUND ME에서 가장 핫한 게시글은?</h4>
                                                <div class="period">전체 게시물 대상</div>
                                            </div>
                                        </div>
                                        <div class="rank_board">
                                            <div class="lbox">
                                                <dl>
                                                    <dt>이번 주 추천이 가장 많은 게시글 </dt>
                                                    <dd>
                                                        <ol>
                                                            <% for(var k=0;k<hot.length;k++){%>
                                                            <%var date= hot[k]._doc.created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '').replace(/2018/,'').replace(/-/,'').split('');
                                                    date.splice(date.length-3,3);%>
                                                                
                                                            <li>
                                                                <div class="rank"><%= k+1%></div>
                                                                <a href="/post/<%=hot[k]._id%>/hotposts" class="tit">
                          <%= hot[k].title%></a> <a href="/post/<%=hot[k]._id%>/hotposts" class="subtitle">
                        <%= date.toString().replace(/,/g,'')%></a>
                                                                <div class="recom"><%= hot[k].star%></div>
                                                            </li>
                                                            <%}%>
                                                            <% for(var q=hot.length;q<5;q++){%>
                                                <li>
                                                                <div class="rank"><%= k+1%></div>
                                                                <a href="/hotposts/1" class="tit">
                            핫게시판의 주인공이 되어보세요!</a> <a href="/hotposts/1" class="subtitle">
                        0000.00.00</a>
                                                                <div class="recom">0</div>
                                                            </li>
                                                <%}%>
                                                        </ol>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                                    <div class="all_post_list">
                                        <div class="h4group">
                                            <%if(specific=="searchall"){%>
                                            <h4 class="tit">'<%= searchstr%>' (으)로 검색결과</h4>
                                            <%}else if(specific=="hotpostssearch"){%>
                                            <h4 class="tit">'<%= searchstr%>' (으)로 검색결과</h4>
                                            <%}else{%>
                                            <h4 class="tit">전체글 보기</h4>
                                            <%}%>
                                            
                                        </div>
                                        <div class="table_list">
                                            <table>
                                                <colgroup>
                                                    <col style="width: 58px;">

                                                    <col style="width: auto;">

                                                    <col style="width: 172px;">
                                                </colgroup>
                                                <tbody>
                                                    <%for(var i=0;i<results.length;i++){%>
                                                        <tr class="dex">
                                                            <td>
                                                                <%=(num-1)*10+i+1 %>
                                                            </td>
                                                            <td>
                                                                <a href="/post/<%= results[i]._doc._id%>/<%= Upper%>">
                                                                    <div class="tbox">
                                                                        <div class="tit">
                                                                            <%= results[i]._doc.title %>
                                                                        </div>
                                                                    </div>
                                                                    <div class="util">
                                                                        <div class="hit">조회수 :
                                                                            <%= results[i]._doc.views%>
                                                                                <span class="val">32</span>
                                                                        </div>
                                                                        <div class="recom">추천수 :
                                                                            <%= results[i]._doc.star %>
                                                                                <span class="val">3</span>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td class="etc">
                                                                <div class="nick">
                                                                    <%= results[i]._doc.writer%>
                                                                </div>
                                                                <div class="date">
                                                                    <%var date= results[i]._doc.created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '').replace(/2018/,'').replace(/-/,'').split('');
                                                    date.splice(date.length-3,3);%>
                                                                        <%= date.toString().replace(/,/g,'')%>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <%}%>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="contents_table_footer">




                                            <div class="pagination">
                                                <div class="paging">
                                                    <li>
                                                        <a href="/posts/1" aria-label="Previous">
        <span aria-hidden="true"><div class="circle_leftleft"></div></span>
      </a>
                                                    </li>
                                                    <li>
                                                        <% var Previous;
        if((num-1)<1)
         {Previous = 1;}else{Previous = num-1;} %>
                                                            <% if(specific=="all"){ %>
                                                                <a href='/posts/<%= Previous%>' aria-label="Previous">
        <span aria-hidden="true"><div class="circle_left"></div></span>
      </a>
                                                                    <%} else if(specific=="searchall"){%>
                                                                        <a href='/posts/search/all/<%= searchstr%>/<%= Previous %>' aria-label="Previous">
        <span aria-hidden="true"><div class="circle_left"></div></span>
      </a>
                                                                        <%} else if(specific=="hotposts"){%>
                                                                            <a href='/hotposts/<%= Previous %>' aria-label="Previous">
        <span aria-hidden="true"><div class="circle_left"></div></span>
      </a>
                                                                            <%} else if(specific=="hotpostssearch"){%>
                                                                                <a href='/hotposts/search/<%= searchstr%>/<%= Previous %>' aria-label="Previous">
        <span aria-hidden="true"><div class="circle_left"></div></span>
      </a>
                                                                                <%}%>
                                                    </li>
                                                    <span>
                        <% var temppivot = {};
      temppivot = Math.floor((num-1)/5);
      var pivot = (temppivot)*5+1;
      var btnNum = PostNum/10;
      var de = num%5+1;
      var c = [{},{},{},{},{}];
      for(var i=0; i<5;i++)
          {
              if((i+2)==de)
              {c[i]="active";
              }else
               { c[i]="";
          }
          }
      for(var q=0; q<5; q++){%>
                            <%if(Math.ceil(PostNum/10)>=pivot+q){%>
                                <li class="<%= c[q] %>">
                                    <% if(specific=="all"){%>
                                        <a href="/posts/<%= pivot+q%>">
                                            <div class="number"><%=q+1%></div>
                                        </a>
                                        <%} else if(specific=="searchall"){%>
                                            <a href="/posts/search/all/<%= searchstr%>/<%= pivot+q%>">
                                                <div class="number"><%=q+1%></div>
                                            </a>
                                            <%} else if(specific=="hotposts"){%>
                                                <a href="/hotposts/<%= pivot+q%>">
                                                    <div class="number"><%=q+1%></div>
                                                </a>
                                                <%} else if(specific=="hotpostssearch"){%>
                                                    <a href="/hotposts/search/<%= pivot+q%>">
                                                        <div class="number"><%=q+1%></div>
                                                    </a>
                                                    <%}%>
                                </li>
                                <%}%>
                                    <%}%>
                            </span>
                                                    <li>
                                                        <% var Next;
                        if((num+1)<=Math.ceil(PostNum/10)){
                        Next = num+1;}else{Next = Math.ceil(PostNum/10);}%>
                                                            <% if(specific=="all"){%>
                                                                <a href="/posts/<%= Next %>" aria-label="Next">
                            <span aria-hidden="true"><div class="circle_right"></div></span>
                            </a>
                                                                <%} else if(specific=="searchall"){%>
                                                                    <a href="/posts/search/all/<%= searchstr%>/<%= Next %>" aria-label="Next">
                            <span aria-hidden="true"><div class="circle_right"></div></span>
                            </a>
                                                                    <%} else if(specific=="hotposts"){%>
                                                                        <a href="/hotposts/<%= Next %>" aria-label="Next">
                            <span aria-hidden="true"><div class="circle_right"></div></span>
                            </a>
                                                                        <%} else if(specific=="hotpostssearch"){%>
                                                                            <a href="/hotposts/search/<%= Next %>" aria-label="Next">
                            <span aria-hidden="true"><div class="circle_right"></div></span>
                            </a>
                                                                            <%}%>
                                                    </li>
                                                    <li>
                                                        <% if(specific=="all"){%>
                                                            <a href="/posts/<%= Math.ceil(PostNum/10) %>" aria-label="Next">
                                <span aria-hidden="true"><div class="circle_rightright"></div></span>
                                </a>
                                                            <%} else if(specific=="searchall"){%>
                                                                <a href="/posts/search/all/<%= searchstr%>/<%= Math.ceil(PostNum/10) %>" aria-label="Next">
                                </a>
                                                                <span aria-hidden="true"><div class="circle_rightright"></div></span>
                                                                <%} else if(specific=="hotposts"){%>
                                                                    <a href="/hotposts/<%= Math.ceil(PostNum/10) %>" aria-label="Next">
                                <span aria-hidden="true"><div class="circle_rightright"></div></span>
                                </a>
                                                                    <%} else if(specific=="hotpostssearch"){%>
                                                                        <a href="/hotposts/search/<%= Math.ceil(PostNum/10) %>" aria-label="Next">
                                <span aria-hidden="true"><div class="circle_rightright"></div></span>
                                </a>
                                                                        <%}%>
                                                    </li>
                                                </div>
                                            </div>

                                            <form method="get" action="/" id="search" onsubmit="return setAction();">
                                                <input type="text" id="searchstring" placeholder="제목이나 내용을 검색해 주세요" />
                                                <input type="submit" id="searchbtn" value="검색" />
                                            </form>

                                            <% if(specific=="all"){%>
                                            <div class="createpost">
                                                <h3><a href='/post/create'>글 쓰기</a></h3>
                                            </div>
                                            <%}%>
                                        </div>

                                    </div>
                </div>

        </div>
        <script>
                    function setAction() {
                        var ac = document.getElementById("searchstring").value;
                        console.log(ac);
                        <% if(specific=="hotposts"||specific=="hotpostssearch"){%>
                        document.getElementById("search").action = "/hotposts/search/" + ac + "/1";
                        return true;
                        <%}%>

                        <% if(specific=="searchall"||specific=="all"){%>
                        document.getElementById("search").action = "/posts/search/all/" + ac + "/1";
                        return true;
                        <%}%>
                    }
                </script>
        <% include ../views/rfooter%>
    </div>
</body>

</html>