
<base href="/">
<link rel="stylesheet" type="text/css" href="../public/common.css">

<link rel="stylesheet" type="text/css" href="../public/posts.css">

<base href='/'>
<!DOCTYPE html>
<html>
<head>
    <% include ../views/header%>
        <meta charset="UTF-8">
        <title>로그인 테스트</title>
</head>

<body>
    <div class="contain">
        <div class="main">
            <div class="leftside">
                <h1></h1>
            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">게시판</div>
                <li role="presentation"><a href='/main'>Home</a></li>
                <ul class="list-group">
                    <% for(var i = 0 ;i <results.length ; i++)
            {
                var curTitle = results[i]._doc.title;
                var curContent = results[i]._doc.content;%>
                        <a href="/post/<%= results[i]._doc._id%>">
                            <li class="list-group-item">
                                <h4 id="content-title">
                                    <%= curTitle%>
                                </h4>
                                <h5 id="content-preview">
                                    <%= curContent%>
                                </h5>
                                <h4 id="content-info" class="small">
                                    <%=results[i]._doc.views%> :
                                        <%=results[i]._doc.star%>
                                            <%=results[i]._doc.created_at.toISOString().
  replace(/T/, ' ').      // replace T with a space
                        replace(/\..+/, '')  %>
                                                <%= results[i]._doc.writer%>
                                </h4>
                            </li>
                        </a>
                        <%}%>
                </ul>
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="/posts/1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
                        </li>
                        <li>
                            <% var Previous;
        if((num-1)<1)
         {Previous = 1;}else{Previous = num-1;} %>
                                <% if(specific=="all"){ %>
                                    <a href='/posts/<%= Previous %>' aria-label="Previous">
        <span aria-hidden="true">&lang;</span>
      </a>
                                    <%} else if(specific=="searchall"){%>
                                        <a href='/posts/search/all/<%= searchstr%>/<%= Previous %>' aria-label="Previous">
        <span aria-hidden="true">&lang;</span>
      </a>
                                        <%} else if(specific=="hotposts"){%>
                                            <a href='/hotposts/<%= Previous %>' aria-label="Previous">
        <span aria-hidden="true">&lang;</span>
      </a>
                                            <%} else if(specific=="hotpostssearch"){%>
                                                <a href='/hotposts/search/<%= searchstr%>/<%= Previous %>' aria-label="Previous">
        <span aria-hidden="true">&lang;</span>
      </a>
                                                <%}%>
                        </li>
                        <% var temppivot = {};
      temppivot = Math.floor((num-1)/5);
      var pivot = (temppivot)*5+1;
      var btnNum = PostNum/10;
      var de = num%5+1;
      var c = [{},{},{},{},{}];
      for(var i=0; i<5;i++)
          {
              if((i+2)==de)
              {c[i]="active";
              }else
               { c[i]="";
          }
          } 
      for(var q=0; q<5; q++){%>
                            <%if(Math.ceil(PostNum/10)>=pivot+q){%>
                                <li class="<%= c[q] %>">
                                    <% if(specific=="all"){%>
                                        <a href="/posts/<%= pivot+q%>">
                                            <%= pivot+q %>
                                        </a>
                                        <%} else if(specific=="searchall"){%>
                                            <a href="/posts/search/all/<%= searchstr%>/<%= pivot+q%>">
                                                <%= pivot+q %>
                                            </a>
                                            <%} else if(specific=="hotposts"){%>
                                                <a href="/hotposts/<%= pivot+q%>">
                                                    <%= pivot+q %>
                                                </a>
                                                <%} else if(specific=="hotpostssearch"){%>
                                                    <a href="/hotposts/search/<%= pivot+q%>">
                                                        <%= pivot+q %>
                                                    </a>
                                                    <%}%>
                                </li>
                                <%}%>
                                    <%}%>
                                        <li>
                                            <% var Next;
                        if((num+1)<=Math.ceil(PostNum/10)){
                        Next = num+1;}else{Next = Math.ceil(PostNum/10);}%>
                                                <% if(specific=="all"){%>
                                                    <a href="/posts/<%= Next %>" aria-label="Next">
                            <span aria-hidden="true">&rang;</span>
                            </a>
                                                    <%} else if(specific=="searchall"){%>
                                                        <a href="/posts/search/all/<%= searchstr%>/<%= Next %>" aria-label="Next">
                            <span aria-hidden="true">&rang;</span>
                            </a>
                                                        <%} else if(specific=="hotposts"){%>
                                                            <a href="/hotposts/<%= Next %>" aria-label="Next">
                            <span aria-hidden="true">&rang;</span>
                            </a>
                                                            <%} else if(specific=="hotpostssearch"){%>
                                                                <a href="/hotposts/search/<%= Next %>" aria-label="Next">
                            <span aria-hidden="true">&rang;</span>
                            </a>
                                                                <%}%>
                                        </li>
                                        <li>
                                            <% if(specific=="all"){%>
                                                <a href="/posts/<%= Math.ceil(PostNum/10) %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                                                <%} else if(specific=="searchall"){%>
                                                    <a href="/posts/search/all/<%= searchstr%>/<%= Math.ceil(PostNum/10) %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                                                    <%} else if(specific=="hotposts"){%>
                                                        <a href="/hotposts/<%= Math.ceil(PostNum/10) %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                                                        <%} else if(specific=="hotpostssearch"){%>
                                                            <a href="/hotposts/search/<%= Math.ceil(PostNum/10) %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                                                            <%}%>
                                        </li>
                    </ul>
                </nav>
                <form method="get" action="/" id="search" onsubmit="return setAction();">
                    <input type="text" id="searchstring">
                    <input type="submit" value="작성" />
                </form>
                <script>
                    function setAction() {
                        var ac = document.getElementById("searchstring").value;
                        console.log(ac);
                        <% if(specific=="hotposts"||specific=="hotpostssearch"){%>
                        document.getElementById("search").action = "/hotposts/search/" + ac + "/1";
                        return true;
                        <%}%>

                        <% if(specific=="searchall"||specific=="all"){%>
                        document.getElementById("search").action = "/posts/search/all/" + ac + "/1";
                        return true;
                        <%}%>
                    }

                </script>
                <h3><a href='/post/create'>글 쓰기</a></h3>
            </div>
        </div>
    </div>
    <% include ../views/rfooter%>
</body>

</html>
